annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
colorama==0.4.6
fastapi==0.136.1
gitdb==4.0.12
GitPython==3.1.50
h11==0.16.0
idna==3.13
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
smmap==5.0.3
starlette==1.0.0
tree-sitter==0.25.2
tree-sitter-languages==1.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
